.upload_style
{
    width: 100%;
    height: 60px;
    lineHeight: 60px;
    borderWidth: 1px;
    borderStyle: dashed;
    borderRadius: 5px;
    textAlign: center;
    margin-bottom: 10px;
}

.TopBtn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #DDEFED;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}


/* For mobile phones: */
[class*="object_content"] {
  width: 100%;
  margin: 0 auto;
}
[class*="inputs_load"] {
  width: 100%;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .object_content {width: 75%; margin: 0 auto;}
  .inputs_load {width: 75%; margin: 0 auto;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .object_content {width: 65%; margin: 0 auto;}
  .inputs_load {width: 65%; margin: 0 auto;}
}